@page "/Projects"

@using ReDpett.Pages.Components
@using Newtonsoft.Json
@using ReDpett.Service
@using Microsoft.AspNetCore.Components
@using System.Net.Http.Headers
@using System.Text

@inject ISaveDataService _OfflineDataService;
@inject NavigationManager NavigationManager;
@inject ListAppDataService _listData;
@inject HttpClient Http;


<div class="inner-page-wrapper">
    <div class="page-heading-wrap">
        <h2>Project Activity</h2>
        <img src="images/border-svg.svg" alt="img" />
    </div>
    <div class="add-project-btn-wrap">
        <a href="/add_project_step_1/dummy_guid" class="add-btn"><span>Add Project</span> <img src="images/add-white.svg" alt="img" /></a>
    </div>
    <div class="page-heading-wrap">
        <h2>Current Projects</h2>
        <img src="images/border-svg.svg" alt="img" />
    </div>
    <div class="project-listing-wrap">
        <p class="projects-listing-subhead">Frontline Tier</p>
        @if (_listData != null)
        {
            @if (_listData.appDataServices != null)
            {
                @if (_listData.appDataServices.Count > 0)
                {
                    @foreach (AppDataService d in _listData.appDataServices)
                    {
                        <div class="project-list-repeat">
                            <div class="project-list-data">
                                <h3>@d.ResidentName</h3>
                                <p class="project-created-by">@d.Given_FirstName</p>
                                <p>@d.DOB</p>
                            </div>
                            <div class="project-list-action">
                                <span class="priject-list-action-btn" @onclick=@(()=>OnEdit(d))><img src="images/edit.svg" alt="img" /></span>
                                @if(d.Status == 1)
                                {
                                    <span class="priject-list-action-btn"><img src="images/cloud.svg" alt="img" /></span>
                                }
                                else
                                {
                                    <span class="priject-list-action-btn"><img src="images/cloud_nonsync.svg" alt="img" /></span>
                                }

                                <span class="priject-list-action-btn"><img src="images/close.svg" alt="img" /></span>
                            </div>
                        </div>
                    }
                }
            }
        }

    </div>
    <a href="javascript:void()" class="support-button"><img src="images/headset-help.svg" alt="img" /></a>
    <footer class="footer-wrap">
        <div class="footer-inner">
            <a href="/Home" class="footer-link">
                <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.9525 20.5769V17.7619C10.9525 17.0433 11.5393 16.4608 12.2631 16.4608H14.9092C15.2568 16.4608 15.5901 16.5979 15.8359 16.8419C16.0817 17.0859 16.2198 17.4168 16.2198 17.7619V20.5769C16.2176 20.8757 16.3356 21.1629 16.5476 21.375C16.7597 21.587 17.0482 21.7062 17.3491 21.7062H19.1543C19.9974 21.7084 20.8068 21.3774 21.4037 20.7863C22.0007 20.1953 22.3362 19.3927 22.3362 18.5557V10.5362C22.3362 9.86009 22.0343 9.21877 21.5119 8.78499L15.3708 3.91601C14.3025 3.06231 12.7719 3.08988 11.7356 3.98148L5.73461 8.78499C5.18751 9.20598 4.86052 9.8492 4.84436 10.5362V18.5475C4.84436 20.292 6.26891 21.7062 8.02619 21.7062H9.7902C10.4152 21.7062 10.9232 21.2056 10.9277 20.5851L10.9525 20.5769Z" fill="#D0D0D0" />
                </svg>
                <p>Home</p>
            </a>
            <a href="/add_project_step_1/dummy_guid" class="footer-link">
                <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4189 3.47566C14.4189 3.23918 14.2316 3.04053 13.988 3.04053H8.98668C6.65458 3.04053 4.76268 4.96081 4.76268 7.30677V17.5041C4.76268 19.9636 6.74824 21.9596 9.18336 21.9596H16.6386C18.9613 21.9596 20.8439 20.0582 20.8439 17.7122V10.1068C20.8439 9.8703 20.6565 9.68111 20.4224 9.68111C20.2046 9.68111 19.9649 9.68387 19.7447 9.68641C19.6257 9.68779 19.5123 9.6891 19.4112 9.68986L19.2517 9.69057C19.0631 9.69057 18.8495 9.68875 18.6092 9.68672C18.3004 9.6841 17.9474 9.68111 17.5471 9.68111C15.8331 9.67165 14.4189 8.25272 14.4189 6.52163V3.47566ZM16.5535 3.58161C16.2735 3.28742 15.7837 3.48985 15.7837 3.89756V6.39109C15.7837 7.43731 16.6369 8.29907 17.6728 8.29907C18.3256 8.30569 19.2331 8.30853 20.003 8.30569C20.3973 8.30475 20.5977 7.82893 20.3242 7.54231C19.8309 7.02425 19.1435 6.30216 18.4527 5.57651C17.7586 4.84732 17.061 4.11453 16.5535 3.58161Z" fill="#D0D0D0" />
                    <path d="M12.8033 17.3393V10.7802" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M9.52373 14.0597H16.0828" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p>Add Project</p>
            </a>
            <a href="/Projects" class="footer-link active">
                <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.9881 3.04053C14.2316 3.04053 14.4189 3.23918 14.4189 3.47566V6.52163C14.4189 8.25272 15.8331 9.67165 17.5471 9.68111C18.2589 9.68111 18.8208 9.69057 19.2517 9.69057L19.4112 9.68986C19.6992 9.68767 20.0868 9.68111 20.4224 9.68111C20.6566 9.68111 20.8439 9.8703 20.8439 10.1068V17.7122C20.8439 20.0582 18.9613 21.9596 16.6386 21.9596H9.18338C6.74826 21.9596 4.7627 19.9636 4.7627 17.5041V7.30677C4.7627 4.96081 6.6546 3.04053 8.9867 3.04053H13.9881ZM14.9902 15.2433H9.89518C9.51118 15.2433 9.19275 15.5555 9.19275 15.9433C9.19275 16.3311 9.51118 16.6528 9.89518 16.6528H14.9902C15.3742 16.6528 15.6926 16.3311 15.6926 15.9433C15.6926 15.5555 15.3742 15.2433 14.9902 15.2433ZM13.0608 10.5135H9.89518C9.51118 10.5135 9.19275 10.8352 9.19275 11.223C9.19275 11.6108 9.51118 11.923 9.89518 11.923H13.0608C13.4448 11.923 13.7633 11.6108 13.7633 11.223C13.7633 10.8352 13.4448 10.5135 13.0608 10.5135ZM15.7837 3.89756C15.7837 3.48985 16.2735 3.28742 16.5536 3.58161C17.566 4.64486 19.3352 6.50365 20.3243 7.54231C20.5977 7.82893 20.3973 8.30475 20.003 8.30569C19.2331 8.30853 18.3256 8.30569 17.6728 8.29907C16.6369 8.29907 15.7837 7.43731 15.7837 6.39109V3.89756Z" fill="#D0D0D0" />
                </svg>
                <p>Project</p>
            </a>
            <a href="/" class="footer-link">
                <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.6747 3.09274C14.3861 3.09274 15.0303 3.48785 15.386 4.07109C15.559 4.35331 15.6744 4.70138 15.6455 5.06826C15.6263 5.35048 15.7128 5.63269 15.8667 5.89609C16.357 6.69571 17.4433 6.99674 18.2893 6.54519C19.2411 5.99957 20.4428 6.32883 20.9908 7.26014L21.6349 8.37019C22.1925 9.30151 21.8849 10.4962 20.9235 11.0324C20.1063 11.5122 19.8179 12.5752 20.3082 13.3842C20.462 13.6382 20.6351 13.8546 20.9043 13.9863C21.2408 14.165 21.5003 14.4473 21.683 14.7295C22.0387 15.3127 22.0099 16.0277 21.6638 16.658L20.9908 17.7868C20.6351 18.3889 19.9717 18.7652 19.2892 18.7652C18.9527 18.7652 18.5777 18.6711 18.2701 18.483C18.0201 18.323 17.7317 18.2666 17.4241 18.2666C16.4723 18.2666 15.6744 19.0474 15.6455 19.9787C15.6455 21.0605 14.7611 21.9072 13.6555 21.9072H12.348C11.2328 21.9072 10.3483 21.0605 10.3483 19.9787C10.3291 19.0474 9.53117 18.2666 8.57941 18.2666C8.26215 18.2666 7.97374 18.323 7.7334 18.483C7.42575 18.6711 7.0412 18.7652 6.71434 18.7652C6.02214 18.7652 5.35879 18.3889 5.00308 17.7868L4.33973 16.658C3.98402 16.0465 3.96479 15.3127 4.3205 14.7295C4.47432 14.4473 4.76274 14.165 5.08961 13.9863C5.35879 13.8546 5.53184 13.6382 5.69527 13.3842C6.17596 12.5752 5.88755 11.5122 5.07038 11.0324C4.11861 10.4962 3.81097 9.30151 4.35896 8.37019L5.00308 7.26014C5.56068 6.32883 6.75279 5.99957 7.71417 6.54519C8.55057 6.99674 9.63692 6.69571 10.1272 5.89609C10.281 5.63269 10.3676 5.35048 10.3483 5.06826C10.3291 4.70138 10.4349 4.35331 10.6175 4.07109C10.9732 3.48785 11.6174 3.11156 12.3192 3.09274H13.6747ZM13.0114 9.84713C11.502 9.84713 10.281 11.0324 10.281 12.5094C10.281 13.9863 11.502 15.1622 13.0114 15.1622C14.5207 15.1622 15.7128 13.9863 15.7128 12.5094C15.7128 11.0324 14.5207 9.84713 13.0114 9.84713Z" fill="#D0D0D0" />
                </svg>
                <p>Setting </p>
            </a>
        </div>
    </footer>
</div>

@code {
    private AppDataService data = new AppDataService();

    public Projects()
    {
        // Register for connectivity changes, be sure to unsubscribe when finished
        Connectivity.ConnectivityChanged += Connectivity_ConnectivityChanged;
    }

    async void Connectivity_ConnectivityChanged(object sender, ConnectivityChangedEventArgs e)
    {
        NetworkAccess accessType = Connectivity.Current.NetworkAccess;

        if (accessType == NetworkAccess.Internet)
        {
            _listData = await _OfflineDataService.GetDataFromOfflineDB();
            if (_listData != null)
            {
                var _data = _listData.appDataServices.FindAll(x => x.Status == 0);

                foreach(AppDataService appData in _data)
                {
                    string req_json_string = JsonConvert.SerializeObject(appData);
                    Http.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));
                    var req_tran_res = await Http.PostAsync("https://redpett-fl-webapp-v3.azurewebsites.net/Projects/Insert", new StringContent(req_json_string, Encoding.UTF8,
                                                          "application/json"));
                    string req_post_content = await req_tran_res.Content.ReadAsStringAsync();
                    if (req_tran_res.StatusCode == System.Net.HttpStatusCode.OK)
                    {
                        appData.Status = 1;
                        var _data_new = _listData.appDataServices.Find(x => x.GUID == appData.GUID);
                        if (_data_new != null)
                        {
                            _listData.appDataServices.Remove(_data_new);
                            _data_new = appData;
                            _listData.appDataServices.Add(_data_new);
                        }
                        _OfflineDataService.InsertOfflineDB(_listData);
                    }
                }
                
            }

        }
        StateHasChanged();
    }

    public void OnEdit(AppDataService Edit_data)
    {
        StateHasChanged();
        NavigationManager.NavigateTo("/add_project_step_1/" + Edit_data.GUID + "/");
    }

    protected override async void OnInitialized()
    {
        try
        {
            _listData = await _OfflineDataService.GetDataFromOfflineDB();
        }
        catch (Exception ex)
        {

        }
    }
}
